* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0.7em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}
.carousel {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: static;
    float: left;
    margin-left: 35%;
    border: 7px solid grey;
    margin-top: 20px;
   
}
.carousel ul {
    width: 2000px;
   
}
ul li {
    list-style-type: none;
    float: left;
    
}
h1{
    text-align: center;
    padding: 20px;
}
h3 {
    text-align: center;
    padding-top: 10px;
}
body {
    background-color: #666;
    color: white;
}
article {
    text-align: center;
    text-decoration-line: line;
    padding-top: 2% ;
}
p {
    margin-top: 2%;
}
.skoczek{
    width: 400px;
    height: 400px;
}